/*
	Author: John Xaviery Lucente
	Project: FYP
	Import:	Google
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*Size of help image*/
.help-image{
	width: 15.625em;
	height: 14.375em;
}

.help-container{
	display: flex;
}

.help-item{
	margin-left: auto;
	margin-right: auto;
}

/*Help headings*/
.help-item > div > .panel-heading{
	background-color: #449d44;
  	border-color: #398439;
  	color: #fff;
  	font-size: 1.25em;
}

/*Main content*/
.help-item > div > .panel-body,
.help-item > div > p{
	font-size: 1em;
}

.back-to-top{
	float: right;
	color: #fff;
}

.help-container{
	font-size: 1;
	line-height: 1.7;
}

.help-visualisation-interaction{
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: underline;
}

.help-command{
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.bold-italics{
	font-weight: bold;
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.italics-underline{
	font-style: italic;
	text-decoration: underline;
}