<div>
	<input type="text" class="form-control search-bar" placeholder="Search Discipline Name" data-ng-model="query.discipline"/>
    <ul class="list-group discipline-list">
    	<div class="list-group-item" data-ng-repeat="discipline in disciplines | filter: query | orderBy: 'discipline'">
			<button data-ng-if="discipline.authors.length > 0" class="btn btn-default btn-list-item btn-discipline-list-item" data-ng-class="{first:$first}" data-ng-click="setDiscipline(discipline)">
        		{{discipline.discipline}}
    		</button>
    	</div>
    </ul>
</div>