<div id="defaultView" data-ng-controller="detailsControllers">
	<h1 id="author-title">{{selectedAuthor.name}}</h1>
	<!-- <select ng-model="selectedDiagram" ng-options="item for item in diagramsAvailable">
  	</select> -->
 	<div class="btn-group" dropdown is-open="status.isopen">
		<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
			{{ selectedDiagram }} <span class="caret"></span>
		</button>
		<ul id="diagramDropdown" class="dropdown-menu" role="menu">
	    	<li data-ng-repeat="diagram in diagramsAvailable">
	    		<a ng-click="toggleDiagram(diagram)" >{{ diagram }}</a>
	    	</li>
	    </ul>

	</div>
	<div id="diagram">
		<coauthor-bar ></coauthor-bar>
		<coauthor-pie ></coauthor-pie>
	</div>

</div>