<div class="row">

	<div class="col-lg-12 col-md-12 help-container">
		<div class="col-md-10 col-lg-10 help-item">
			<h2>About Visualisation of DIT's Online Repository</h2>
			<p>
				The purpose of Visualisation of DIT's Online Repository is to provide lecturers mainly in 
				Dublin Institute of Technology (DIT) an intuitive view of information such as publications, 
				use of words and coauthorship about researchers in DIT who have published work in various
				disciplines. The information are presented in visual graphics for a comprehensive overview 
				of the analysed data. The data visualisation used are: 
				<a href="" ng-click="gotoAnchor('bubbleHelp')">Bubble Chart</a>, 
				<a href="" ng-click="gotoAnchor('networkHelp')">Network Graph</a>, 
				<a href="" ng-click="gotoAnchor('barHelp')">Bar Chart</a>, 
				<a href="" ng-click="gotoAnchor('trendHelp')">Trend Graph</a> ,
				<a href="" ng-click="gotoAnchor('wordHelp')">Word Cloud</a> all of which are explained, along
				with various interactions a user can make with the graph. For a quick guide, go to <a href="" ng-click="gotoAnchor('gettingStarted')">Quick Tutorial.</a>
			</p>
		</div>
	</div>
	
	<div class="col-md-12 col-lg-12 help-container">
		<div id="gettingStarted" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Quick Tutorial <span><a href="#0" class="back-to-top">Back to Top</a></span>
				</div>
				<div class="panel-body">
					<p>
						To start exploring the application go to <span class="bold-italics">"Home"</span> and click <span class="bold-italics">"Author"</span> or <span class="bold-italics">"Discipline"</span> button as shown. 
						<ul>
							<li>Author: user can search through author names</li>
							<li>Discipline: user can search an author from their disciplines.</li>
						</ul>
						<img class="help-image" src="images/help/starting_choice.PNG">
					</p>

					<p>
						A list of author is displayed when <span class="bold-italics">"Author"</span> is clicked. A user can also <span class="help-command">Search</span> by name and set a <span class="help-command">Filter</span> according to the <span class="italics-underline">number of documents</span> an author has and <span class="italics-underline">alphabetical</span> order as shown in the image below.
						<img class="help-image" src="images/help/pick_and_filter_search.PNG">
					</p>

					<p>
						Once an author is selected a user can view their data in different data visualisation. All they have to do is pick whichever they data they want in the available graphs.
						<img src="images/help/graphs.PNG">
					</p>

					<br>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-12 help-container">
		<div id="bubbleHelp" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Bubble Chart Interactions<span><a href="#0" class="back-to-top">Back to Top</a>
				</div>
				<div class="panel-body">
					<h3 class="help-visualisation-interaction">- Location</h3>
					<p>Co-Authorship -> Bubble Chart</p>
					<h3 class="help-visualisation-interaction">- Tooltip</h3>
					<p><span class="help-command">Click</span> on the circle to show a tooltip showing more information about that selected author.
					<img src="images/help/tooltip_bubble.PNG">
					</p>
					<br>
					<h3 class="help-visualisation-interaction">- Go to other author</h3>
					<p><span class="help-command">Double-Click</span> on a bubble to see that author's information.</p>
					<br>
					<h3 class="help-visualisation-interaction">- Adding Filter</h3>
					<p><span class="help-command">Click</span> the <span class="bold-italics">"Add Filter"</span> button and a modal will show. There a user can filter the data by <i>date-coauthored</i> or the <i>number of times</i> the selected author has co-authored with the displayed author. <span class="help-command">Click</span> </i>"Add"</i> to apply filter or <i>"Cancel"</i> to exit modal.
					</p>
					<img src="images/help/adding_filter.PNG">
					<br>
					<h3 class="help-visualisation-interaction">- Removing Filter</h3>
					<p><span class="help-command">Click</span> the "x" in the applied filter as shown below.</p>
					<img src="images/help/filter_remove.PNG">
					<br>
					<h3 class="help-visualisation-interaction">- Hiding/Showing the legend</h3>
					<p><span class="help-command">Click</span> the <span class="bold-italics">green "Filter"</span> button on the legend table. When hidden click the <span class="bold-italics">"Filter"</span> button again to show the legend.
					<img src="images/help/legend_hiding_showing.PNG">
					</p>
					<br>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-12 help-container">
		<div id="networkHelp" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Network Graph <span><a href="#0" class="back-to-top">Back to Top</a>
				</div>
				<div class="panel-body">
					<h3 class="help-visualisation-interaction">- Location</h3>
					<p>Co-Authorship -> Network Graph</p>
					<h3 class="help-visualisation-interaction">- Tooltip</h3>
					<p><span class="help-command">Hover</span> over the circles (nodes) to show tooltip</p>
					<img src="images/help/tooltip_network.PNG">
					<br>
					<h3 class="help-visualisation-interaction">- Go to other author</h3>
					<p><span class="help-command">Double-Click</span> on a node to go the double-clicked author.</p>
					<br>
					<h3 class="help-visualisation-interaction">- Adding Filter</h3>
					<p><span class="help-command">Click</span> the <span class="bold-italics">"Add Filter"</span> button and a modal will show. There a user can filter the data by <i>date-coauthored</i> or the <i>number of times</i> the selected author has co-authored with the displayed author. <span class="help-command">Click</span> </i>"Add"</i> to apply filter or <i>"Cancel"</i> to exit modal.</p>
					<img src="images/help/adding_filter.PNG">
					<br>
					<h3 class="help-visualisation-interaction">- Removing Filter</h3>
					<p><span class="help-command">Click</span> the "x" in the applied filter as shown below.</p>
					<img src="images/help/filter_remove.PNG">
					<h3 class="help-visualisation-interaction">- Hiding/Showing the legend</h3>
					<p><span class="help-command">Click</span> the <span class="bold-italics">green "Filter"</span> button on the legend table. When hidden click the <span class="bold-italics">"Filter"</span> button again to show the legend.
					<img src="images/help/legend_hiding_showing.PNG">
					<br>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-12 help-container">
		<div id="barHelp" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Bar Chart<span><a href="#0" class="back-to-top">Back to Top</a>
				</div>
				<div class="panel-body">
					<h3 class="help-visualisation-interaction">- Location</h3>
					<p>Co-Authorship -> Bar Chart</p>
					<h3 class="help-visualisation-interaction">- Tooltip</h3>
					<p><span class="help-command">Hover</span> over a bar to show tooltip.</p>
					<img src="images/help/tooltip_bar.PNG">
					<br>
					<h3 class="help-visualisation-interaction">- Adding Filter</h3>
					<p><span class="help-command">Click</span> the <span class="bold-italics">"Add Filter"</span> button and a modal will show. There a user can filter the data by <i>date-coauthored</i> or the <i>number of times</i> the selected author has co-authored with the displayed author. <span class="help-command">Click</span> </i>"Add"</i> to apply filter or <i>"Cancel"</i> to exit modal.</p>
					<img src="images/help/adding_filter.PNG">
					<br>
					<h3 class="help-visualisation-interaction">- Removing Filter</h3>
					<p><span class="help-command">Click</span> the "x" in the applied filter as shown below.</p>
					<img src="images/help/filter_remove.PNG">
					<br>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-12 help-container">
		<div id="trendHelp" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Trend Graph<span><a href="#0" class="back-to-top">Back to Top</a>
				</div>
				<div class="panel-body">
					<h3 class="help-visualisation-interaction">- Location</h3>
					<p>Publications -> Publication Timeline</p>
					<h3 class="help-visualisation-interaction">- Tooltip</h3>
					<p><span class="help-command">Hover</span> over a node in the line graph to show tooltip.</p>
					<img src="images/help/tooltip_trend.PNG">
					<br>
					<h3 class="help-visualisation-interaction">- Adding Filter</h3>
					<p><span class="help-command">Click</span> the <span class="bold-italics">"Add Filter"</span> button and a modal will show. There a user can filter the publications by publication type i.e. <i>Conference Paper, Thesis, Report, Articles etc.</i> Futhermore, a user can filter publications whether if they were peer reviewed or not.</p>
					<img src="images/help/filter_trend.PNG">
					<h3 class="help-visualisation-interaction">- Removing Filter</h3>
					<p><span class="help-command">Click</span> the "x" in the applied filter as shown below.</p>
					<img src="images/help/filter_remove_trend.PNG">
					<br>
					<h3 class="help-visualisation-interaction">- View words used in a publications present in the timeline.</h3>
					<p><span class="help-command">Double-Click</span> a node(circle) in the timeline to show the keywords contained in that particular node.</p>
					<br>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-12 help-container">
		<div id="wordHelp" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Word Cloud<span><a href="#0" class="back-to-top">Back to Top</a>
				</div>
				<div class="panel-body">
					<h3 class="help-visualisation-interaction">- Location</h3>
					<p>Publications -> Publications' Keywords</p>
					<h3 class="help-visualisation-interaction">- Filtering By Year</h3>
					<p><span class="help-command">Click</span> dropdown button with the label name <span class="bold-italics">"Select Year"</span>.</p>
					<img src="images/help/filter_word.PNG">
					<br>
				</div>
			</div>
		</div>
	</div>
</div>