<div class="row">

	<div class="col-lg-12 col-md-12 help-container">
		<div class="col-md-10 col-lg-10 help-item">
			<h2>About Visualisation of DIT's Online Repository</h2>
			<p>
				The purpose of Visualisation of DIT's Online Repository is to provide lecturers mainly in 
				Dublin Institute of Technology (DIT) an intuitive view of information such as publications, 
				use of words and coauthorship about researchers in DIT who have published work in various
				disciplines. The information are presented in visual graphics for a comprehensive overview 
				of the analysed data. The data visualisation used are: 
				<a href="" ng-click="gotoAnchor('wordHelp')">Word Cloud</a>, 
				<a href="" ng-click="gotoAnchor('bubbleHelp')">Bubble Chart</a>,
				<a href="" ng-click="gotoAnchor('networkHelp')">Network Graph</a>,
				<a href="" ng-click="gotoAnchor('trendHelp')">Trend Graph</a> all of which are explained, along
				with various interactions a user can make with the graph. For a quick guide, go to <a href="" ng-click="gotoAnchor('gettingStarted')">Getting Started.</a>
			</p>
		</div>
	</div>
	
	<div class="col-md-12 col-lg-12 help-container">
		<div id="gettingStarted" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Getting Started
				</div>
				<div class="panel-body">
					<p>
					</p>
					<br>
					<a href="#0" class="back-to-top">Back to Top</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-12 help-container">
		<div id="bubbleHelp" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Bubble Chart Interactions
				</div>
				<div class="panel-body">
					Bubble Interactions here.
					<br>
					<a href="#0" class="back-to-top">Back to Top</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-12 help-container">
		<div id="networkHelp" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Network Graph Interactions
				</div>
				<div class="panel-body">
					Network Interactions here.
					<br>
					<a href="#0" class="back-to-top">Back to Top</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-12 help-container">
		<div id="trendHelp" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Trend Graph
				</div>
				<div class="panel-body">
					Trend Graph Interactions here.
					<br>
					<a href="#0" class="back-to-top">Back to Top</a>
				</div>
			</div>
		</div>
	</div>



	<div class="col-md-12 col-lg-12 help-container">
		<div id="wordHelp" class="col-md-10 col-lg-10 help-item">
			<div class="panel panel-default">
				<div class="panel-heading">
					Word Cloud
				</div>
				<div class="panel-body">
					Trend Graph Interactions here.
					<br>
					<a href="#0" class="back-to-top">Back to Top</a>
				</div>
			</div>
		</div>
	</div>
</div>