<div class="btn-group" dropdown is-open="status.isopen" style="position: absolute;">
	<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
		{{ selectedDiagram.name }} <span class="caret"></span>
	</button>
	<ul id="diagramDropdown" class="dropdown-menu" role="menu">
    	<li data-ng-repeat="diagram in diagrams">
    		<a ng-click="toggleDiagram(diagram)" >{{ diagram.name }}</a>
    	</li>
    </ul>

</div>

<custom-pie data="author.coauthors" ng-if="author.coauthors.length > 0 && selectedDiagram.diagram === 'coauthorpie'"></custom-pie>
<custom-bar data="author.coauthors" ng-if="author.coauthors.length > 0 && selectedDiagram.diagram === 'coauthorbar'"></custom-bar>