<div class="row">
	<div class="topic-list col-md-3">
		<accordion close-others="false">
			<accordion-group data-ng-repeat="topic in topics" ng-init="TopicStatus.open = $first" is-open="TopicStatus.open">
				<accordion-heading>
					{{ topic.name }}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': TopicStatus.open, 'glyphicon-chevron-right': !TopicStatus.open}"></i>
				</accordion-heading>
				<button type="button" class="btn btn-default topic-list-item" data-ng-repeat="visualisation in topic.visualisations"
				data-ng-click="setSelectedVisualisation(visualisation)">
					{{ visualisation.label }}
				</button>
			</accordion-group>
		</accordion>
	</div> <!-- topic-list -->
	<div class="visualisation-panel col-md-9">
		<div data-ng-if="selectedViz === undefined">
			Please Select Visualisation	
		</div>
		<h1>{{ author.authorName }} - {{selectedViz.label}}</h1>
		<custom-pie data="author.coauthors" ng-if="author.coauthors.length > 0 && selectedViz.value === 'coauthor-piechart'"></custom-pie>
		<custom-bar data="author.coauthors" ng-if="author.coauthors.length > 0 && selectedViz.value === 'coauthor-barchart'"></custom-bar>
		<custom-bubble data="author" ng-if="author.coauthors.length > 0 && selectedViz.value === 'coauthor-bubble'"></custom-bubble>
	</div><!--  visualisation-panel -->
</div>	