<div class="helpContainer">
	<div class="helpContent">
		<h1>Welcome!</h1>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit ipsum ac nunc vehicula lacinia. Integer pellentesque urna non lectus viverra, in aliquam leo iaculis. Donec et dui eu purus condimentum porttitor interdum vitae turpis. Cras lobortis auctor sapien et tristique. Morbi vitae dapibus leo. Etiam efficitur aliquam lacinia. Aenean a tellus vitae libero tincidunt dapibus. Ut quis blandit nibh, eu laoreet orci.
	</div>
</div>