<div class="title">
	<h1>Words From Publications: <span class="year">({{titleDate}})</span>
	</h1>
</div>
<div class="cloud-filter-container">
	<h3>Select Year: 
		<span>
			<div class="btn-group">
				<button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					{{ selectedDateFilter }} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li data-ng-repeat="date in allDates | orderBy: 'date'" > 
						<a data-ng-click="toggleDate(date)">{{ date }}</a> 
					</li>	
				</ul>
			</div>
		</span>
	</h3>
</div>
<div class="cloud-visualisation-container">
	<div ng-include="'views/modals/bubble_popover.html'"></div>
</div>